{% include 'administradores/base/header.html' %}
<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" data-scroll="true">
  <div class="container-fluid py-1 px-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
        <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Página</a></li>
        <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Administración</li>
      </ol>
      <h6 class="font-weight-bolder mb-0">entregas</h6>
    </nav>
    <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
      <div class="ms-md-auto pe-md-3 d-flex align-items-center">
        <!-- <div class="input-group input-group-outline">
          <label class="form-label">Type here...</label>
          <input type="text" class="form-control">
        </div> -->
      </div>
      <ul class="navbar-nav  justify-content-end">
        <!-- <li class="nav-item d-flex align-items-center">
          <a class="btn btn-outline-primary btn-sm mb-0 me-3" target="_blank" href="https://www.creative-tim.com/builder/material?ref=navbar-dashboard">Online Builder</a>
        </li> -->
        <li class="nav-item d-flex align-items-center">
          <a href="../pages/sign-in.html" class="nav-link text-body font-weight-bold px-0">
            <i class="fa fa-user me-sm-1"></i>
            <span class="d-sm-inline d-none"> {{ current_user.usuario}}</span>
          </a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>
<!-- End Navbar -->

    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-pri
              
              mary border-radius-lg pt-4 pb-3 d-flex justify-content-between">
                <h6 class="text-white text-capitalize ps-3 w-25 ">Agregar un entrega</h6>
                <!-- <a  class="btn btn-light me-3"><i class="bi bi-plus-lg fa-lg"></i> Agregar</a> -->
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive p-0 d-flex justify-content-center">

                <div style='width: 800px;height: 600px;'>
                  {% with messages = get_flashed_messages() %}

                    {% if messages %}
                    <br>
                    {% for message in messages %}
                    <div class="alert alert-light alert-dismissible" role="alert">
                    <strong>{{ message }}</strong>    
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"><i class="bi bi bi-x-lg fa-lg" style="color:black"></i></button>

                    </div>
                    {% endfor%}
                    {% endif%}

                    {% endwith %}

                  <form action="/entregas/editar_entrega/{{entrega[0]}}" method="POST" enctype="multipart/form-data" class="d-flex flex-column"  style='width: 60%; margin-left:auto; margin-right:auto'  >

                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <p>Para añadir la coordenada, haga clic en el mapa</p>

                    <input type="hidden" name="entrega_id" value="{{ entrega[0] }}">


                    <label for="cliente" class=" mt-3"> Cliente </label>
                    <select class="form-select" id="cliente" name="cliente">
                      {% for cliente in clientes %}
                      <option value="{{ cliente[0] }}"
                              {% if cliente[0] == entrega[1] %} selected {% endif %}>
                        {{ cliente[1] }}
                      </option>
                    {% endfor %}
                    </select>

                    <label for="producto" class=" mt-3"> Producto </label>
                    <select class="form-select" id="producto" name="producto">
                      {% for producto in productos %}
                      <option value="{{ producto[0] }}"
                        {% if producto[0] == entrega[2] %} selected {% endif %}>
                      {{ producto[1] }}</option>
                      {% endfor %}
                    </select>

                    <label for="cantidad" class=" mt-3"> Cantidad </label>
                    <input type="text" name="cantidad" id="cantidad" value="{{ entrega[3] }}">

                    <input type="hidden" value="{{ entrega[5] }}" id="fecha">

                    <label for="fechaEntrega" class=" mt-3"> Fecha Entrega </label>
                    <input type="datetime-local" name="fechaEntrega" id="fechaEntrega"  min="2023-01-01T00:00" max="2090-06-14T00:00">

                    <label for="estado" class=" mt-3"> Estado </label>
                    <select class="form-select" id="estado" name="estado">
                      <option value="0" {% if 0 == entrega[6] %} selected {% endif %}>Entregado</option>
                      <option value="1" {% if 1 == entrega[6] %} selected {% endif %}>Por entregar</option>
                      <option value="2" {% if 2 == entrega[6] %} selected {% endif %}>Cancelado</option>
                    </select>

                    <input type="submit" class="btn btn-primary mt-3"  value="Enviar">
                  </form>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
<script>
  document.addEventListener("DOMContentLoaded", () => {
      const fechaRecibida = document.getElementById("fecha");
      const fechaEntrega  = document.getElementById("fechaEntrega");
      const fechaHora = fechaRecibida.value;

      const newDate = new Date(fechaHora);
      var dia = newDate.getDate();
      if( dia.toString().length ==  1 ){
        dia = '0' + dia;
      }
      var mes = newDate.getMonth() + 1; 
      if( mes.toString().length ==  1 ){
        mes = '0' + mes;
      }
      const año = newDate.getFullYear();
      var hora = newDate.getHours(); 
      if( hora.toString().length ==  1 ){
        hora = '0' + hora;
      }
      var minuto = newDate.getMinutes(); 
      if( minuto.toString().length ==  1 ){
        minuto = '0' +  minuto;
      }
      const fecha = `${año}-${mes}-${dia}T${hora}:${minuto}`;
      fechaEntrega.value  = fecha;
  });
</script>
      {% include 'administradores/base/footer.html' %}