<form method="post" action="/guardar_administrador" enctype="multipart/form-data">
    <label for="txtNombre"> Nombre Usuario: </label><br>
    <input type="text" name="txtNombre" id="txtNombre">
    <br>
    <label for="txtContrasenia"> Contraseña: </label><br>
    <input type="password" name="txtContrasenia" id="txtContrasenia">
    <br>
    <label for="txtCorreo"> Correo: </label><br>
    <input type="text" name="txtCorreo" id="txtCorreo">
    <br>
    <label for="txtFoto"> Foto: </label><br>
    <input type="file" name="txtFoto" id="txtFoto">
    <br>
    <label for="txtNombreCompleto"> Nombre Completo: </label><br>
    <input type="text" name="txtNombreCompleto" id="txtNombreCompleto">
    <br>
    <input type="submit" value="Registrarse">

</form>